# ==========================================
# NEXSERVICE.APP-1 - VARIABLES DE ENTORNO FIREBASE
# ==========================================
VITE_FIREBASE_API_KEY=AIzaSyCaDtz0s9_yHQ8bExi0_JfKtYrX2vbG1m4
VITE_FIREBASE_AUTH_DOMAIN=nexservice-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nexservice-app
VITE_FIREBASE_STORAGE_BUCKET=nexservice-app.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=81611240708
VITE_FIREBASE_APP_ID=1:81611240708:web:64ea6d3e67bb8f79340c51
VITE_FIREBASE_MEASUREMENT_ID=G-RWZR3SREKP

# Configuración de Google Gemini AI (Opcional)
VITE_GEMINI_API_KEY=

# Ciudad y Coordenadas por Defecto (Pereira, Colombia)
VITE_DEFAULT_CITY=Pereira
VITE_DEFAULT_LAT=4.81333
VITE_DEFAULT_LNG=-75.69611
